{% extends "layout.html" %}
	{% block content %}
		{% for post in posts %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><span class="glyphicon glyphicon-calendar"></span>{{ post.date|strftime }} (<a href='https://shortdiary.me/posts/{{post.id}}'>Auf Shortdiary zeigen</a>)</h3>
			</div>
  			<div class="panel-body">
	  			<div class="row">
	  				<div class="col-md-8">
						{{post.public_text|urlize|linebreaks}}
		  				</div>
		  			<div class="col-md-4">	
		  				{% if post.location_lat %}
		  				<img src="http://maps.googleapis.com/maps/api/staticmap?center={{post.location_lat}},{{post.location_lon}}&zoom=13&size=350x300&maptype=roadmap&markers=color:blue%7Clabel:%7C{{post.location_lat}},{{post.location_lon}}&sensor=false">
		  				{% endif %}
		  			</div>
		  		</div>
		  		{% if post.image %}
		  		<div class="row">
		  			<div class="col-md-12">
		  				<img class="img-responsive" src="https://asset.shortdiary.me/{{post.image}}">
		  			</div>
		  		</div>
		  		{% endif %}
	  		</div>
		</div>
		{% endfor %}
	{% endblock %}
